
/* في ملف style.css أو داخل <style> */
body {

    font-family: 'Changa', sans-serif;

  direction: rtl; /* إذا كان موقعك بالعربية */
}
* {
  font-family: 'Changa', sans-serif !important;
}
