.image-container {
    width: 100%;
    height: 100vh;
    background-image: url('../images/image100.jpg'); /* رابط الصورة الخاصة بك */
    background-size: cover;
    background-position: center;
    position: relative;
}
.form-container {
  background-color: #f8f9fa; /* لون خلفية الحاوية */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin: 50px auto;
  width: fit-content; /* يجعل الحاوية تتبع عرض المحتوى */
  border: 2px solid #ccc;
  background: #241400;
background: linear-gradient(90deg, rgba(36, 20, 0, 1) 0%, rgba(196, 191, 96, 0.78) 0%, rgba(224, 203, 108, 1) 100%, rgba(254, 218, 86, 1) 100%, rgba(255, 224, 84, 1) 100%);
}
