.image-container {
    width: 100%;
    height: 100vh;
    background-image: url('../images/image30.jpg'); /* رابط الصورة الخاصة بك */
    background-size: cover;
    background-position: center;
    position: relative;
}
.download-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s ease;

}

.download-btn:hover {
  background-color: #333;
}

.form-container {
  background-color: #f8f9fa; /* لون خلفية الحاوية */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin: 50px auto;
  width: fit-content; /* يجعل الحاوية تتبع عرض المحتوى */
  border: 2px solid #ccc;
}

.containerpp {
  background-color: #f8f9fa; /* لون خلفية الحاوية */
  width: 1200px; /* عرض الحاوية */
  height: 400px;
  padding: 10px;

  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
}


.form-container {
  background-color: #f8f9fa; /* لون خلفية الحاوية */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin: 50px auto;
  width: fit-content; /* يجعل الحاوية تتبع عرض المحتوى */
  border: 2px solid #ccc;
  background: #020024;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(31, 191, 196, 0.78) 0%, rgba(86, 254, 204, 1) 100%, rgba(84, 192, 255, 1) 100%);
}
