.image-container {
    width: 100%;
    height: 100vh;
    background-image: url('../images/image56.jpg'); /* رابط الصورة الخاصة بك */
    background-size: cover;
    background-position: center;
    position: relative;
}
.form-container {
  background-color: #f8f9fa; /* لون خلفية الحاوية */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin: 50px auto;
  width: fit-content; /* يجعل الحاوية تتبع عرض المحتوى */
  border: 2px solid #ccc;
  background: #200024;
background: linear-gradient(90deg, rgba(32, 0, 36, 1) 0%, rgba(139, 110, 224, 0.78) 0%, rgba(243, 192, 252, 1) 100%, rgba(240, 86, 254, 1) 100%, rgba(84, 192, 255, 1) 100%);
}
