.image-container {
    width: 100%;
    height: 100vh;
    background-image: url('../images/image16.jpg'); /* رابط الصورة الخاصة بك */
    background-size: cover;
    background-position: center;
    position: relative;
}


.pdf-wrapper {
  width: 89%;         /* عرض الحاوية */
  height: 1200px;       /* ارتفاع الحاوية */
  border: 1px solid #ccc;

  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

}

.pdf-wrapper iframe {
  width: 90%;
  height: 90%;
  border: none;

}


.pdf-wrapper {
  display: flex;
  justify-content: center;  /* توسيط أفقي */
  align-items: center;      /* توسيط عمودي */
  height: 1300px;            /* اختياري: يجعل الحاوية بارتفاع الشاشة */
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.pdf-wrapper iframe {
  width: 98%;
  height: 98%;
  border: none;
}





.form-container {
  background-color: #f8f9fa; /* لون خلفية الحاوية */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin: 50px auto;
  width: fit-content; /* يجعل الحاوية تتبع عرض المحتوى */
  border: 2px solid #ccc;
  background: #9adbf5;
background: linear-gradient(90deg, rgba(154, 219, 245, 1) 0%, rgba(143, 199, 168, 1) 50%, rgba(247, 244, 203, 1) 100%);
}

.containerpp {
  width: 1200px; /* عرض الحاوية */
  height: 400px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
}
